<div class="container-fluid">
    <div class="heading">
        <div class="get-in-touct">
            <h1>Get In <span class="text-danger">Touch</span></h1>
        </div>
        <div class="para">
            <p>Ready to transform your digital presence? Let's start a conversation</p>
        </div>
    </div>
    <div class="cards">
        <div class="left-column">
            <div class="card one">
                <div class="card-body">
                    <div class="phone">
                        <i class="bi bi-telephone"></i>
                        <div class="content">
                            <h5>Phone</h5>
                            <a href="tel:+919995498218">+91 99954 98218</a>
                        </div>
                    </div>
                    <div class="e-mail">
                        <i class="bi bi-envelope"></i>
                        <div class="content">
                            <h5>Email</h5>
                            <a href="mailto:info@parasya.in">info&#64;palqar.in</a>
                        </div>
                    </div>
                    <div class="location">
                        <i class="bi bi-geo-alt-fill"></i>
                        <div class="content">
                            <h5>Location</h5>
                            <p>Rayan avenue 1 st floor, Kariyad Thalassery,Kannur,Kerala 673316</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card two">
                <div class="card-body">
                    <h5>Follow Us</h5>
                    <div class="social">
                        <a href="https://x.com/parasya_in?s=21" target="_blank" aria-label="Visit us on Twitter">
                            <i class="bi bi-twitter-x"></i>
                        </a>
                        <a href="https://www.instagram.com/parasya.in?igsh=Y3ZkNWUzNGYxM29q" target="_blank"
                            aria-label="Visit us on Instagram">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/parasyatechnologies/" target="_blank"
                            aria-label="Visit us on LinkedIn">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a href="https://www.facebook.com/share/14iEd6PwQV/?mibextid=wwXIfr" target="_blank"
                            aria-label="Visit us on Facebook">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="https://wa.me/919995498218" target="_blank" aria-label="Chat with us on WhatsApp">
                            <i class="bi bi-whatsapp"></i>
                        </a>
                        <a href="https://youtube.com/@parasya.?si=cpElaynFajc3RCCG" target="_blank"
                            aria-label="Visit us on YouTube">
                            <i class="bi bi-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card three">
            <div class="card-body">
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

                    <div class="name-row">
                        <div class="form-group">
                            <label>First Name</label>
                            <input class="form-control" formControlName="firstName" placeholder="John" />
                            <div class="error"
                                *ngIf="contactForm.get('firstName')?.touched && contactForm.get('firstName')?.invalid">
                                First name is required.
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Last Name</label>
                            <input class="form-control" formControlName="lastName" placeholder="Doe" />
                            <div class="error"
                                *ngIf="contactForm.get('lastName')?.touched && contactForm.get('lastName')?.invalid ">
                                Last name is required.
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" formControlName="email" placeholder="john@example.com" />
                        <div class="error"
                            *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid">
                            <span *ngIf="contactForm.get('email')?.errors?.['required']">
                                Email is required.
                            </span>
                            <span *ngIf="contactForm.get('email')?.errors?.['email']">
                                Enter a valid email.
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Subject</label>
                        <input class="form-control" formControlName="subject" placeholder="How can we help?" />
                        <div class="error"
                            *ngIf="contactForm.get('subject')?.touched && contactForm.get('subject')?.invalid">
                            Subject is required.
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control" formControlName="message"
                            placeholder="Your message here"></textarea>
                        <div class="error"
                            *ngIf="contactForm.get('message')?.touched && contactForm.get('message')?.invalid">
                            Message is required.
                        </div>
                    </div>

                    <button class="btn btn-danger mt-3 form-control" type="submit"
                        [disabled]="contactForm.invalid || isSubmitting">
                        <ng-container *ngIf="!isSubmitting; else loaderContent">
                            Submit
                        </ng-container>
                        <ng-template #loaderContent>
                            <div class="loader mx-auto"></div>
                        </ng-template>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>