.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
    padding: 0.75rem 1rem;
    transition: background-color 0.4s ease, padding 0.4s ease, box-shadow 0.4s ease;
}

.navbar-scrolled {
    background-color: rgb(70, 70, 70);
    padding: 0.7rem 2rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
    margin: 10px;
    width: calc(100% - 20px);
    border-radius: 50px;
}

.navbar-scrolled img {
    height: 30px;
}

.navbar .navbar-brand img {
    height: 40px;
    filter: brightness(0) invert(1);
    transition: height 0.4s ease;
}

.navbar .navbar-nav {
    gap: 2rem;
    text-align: center;
}

.links {
    display: grid;
    grid-template-columns: repeat(var(--items), 1fr);
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    background: transparent;
}

.links>a {
    color: white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease;
}

.links>a:hover {
    color: #ff0000;
    cursor: pointer;
}

.links>.line {
    background: #ff0000;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
    width: var(--width, calc(100% / var(--items)));
    opacity: 0;
    transition: all 0.4s ease;
    --index: 0;
    pointer-events: none;
}

.links>a:hover~.line {
    opacity: 1;
}

/* Hover index mapping */
.links>a:nth-of-type(1):hover~.line {
    --index: 1;
}

.links>a:nth-of-type(2):hover~.line {
    --index: 2;
}

.links>a:nth-of-type(3):hover~.line {
    --index: 3;
}

.links>a:nth-of-type(4):hover~.line {
    --index: 4;
}

.links>a:nth-of-type(5):hover~.line {
    --index: 5;
}

.links>a:nth-of-type(6):hover~.line {
    --index: 6;
}

.links>a:nth-of-type(7):hover~.line {
    --index: 7;
}

.navbar .nav-link {
    color: white;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.2s ease;
}

.navbar .nav-link:hover {
    color: #ff0000;
}

.navbar .btn-outline-light {
    border: 1px solid white;
    color: white;
    padding: 0.5rem 1.2rem;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.navbar .btn-outline-light:hover {
    background-color: white;
    color: black;
}

.custom-offcanvas {
  background-color: #000;
  color: #fff;
}

.custom-offcanvas .nav-link {
  color: #fff;
  font-size: 1.1rem;
}

.offcanvas .btn-close {
    filter: invert(1);
}

.offcanvas .navbar-nav {
    gap: 1.5rem;
}

.offcanvas .nav-link:hover {
    color: #ff0000;
}

.offcanvas .btn-outline-dark {
    border: 1px solid white;
    color: white;
    transition: all 0.3s ease;
}

.offcanvas .btn-outline-dark:hover {
    background-color: white;
    color: black;
}