:host {
  display: block; /* or leave as is */
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
}

app-header {
  flex-shrink: 0;
}

router-outlet {
  flex-grow: 1;
}

app-footer {
  flex-shrink: 0;
}
