<div class="container-fluid">
    <div class="heading">
        <h1>Services</h1>
    </div>
    <div class="details">
        <div class="consult">
            <div class="name">
                <h1>Brand Consultation</h1>
                <p>Streamline your operations and empower innovation with our strategic digital transformation
                    solutions. In
                    today's dynamic business landscape, staying ahead of the curve is crucial. We help you navigate the
                    digital transformation journey, from strategy development to implementation.</p>
            </div>
            <div class="accordian">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Application Modernization
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Legacy applications can hinder your agility. We modernize your applications to leverage
                                the
                                latest technologies, improve performance, and ensure scalability for future growth.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                DevOps and Agile
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Streamline development processes and accelerate delivery with our DevOps and Agile
                                solutions.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                API & Microservices
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Design and deploy robust APIs and microservices for seamless integration across your
                                systems.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Hyperscaler Cloud Migration
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Migrate to hyperscaler cloud platforms effortlessly and achieve new scalability heights.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Cybersecurity
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Ensure the security of your digital assets with our comprehensive cybersecurity
                                solutions.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="legal">
            <div class="name">
                <h1>Legal Support & Compliance</h1>
                <p>In today’s regulatory environment, legal compliance and prope documentation are crucial. We oﬀer a
                    comprehensive range of legal support services tailored to startups, SMEs, and established
                    enterprises alike.</p>
            </div>
            <div class="accordian">
                <div class="accordion" id="accordionExamplelegal">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOneLegal" aria-expanded="true"
                                aria-controls="collapseOneLegal">
                                Legal Advisory
                            </button>
                        </h2>
                        <div id="collapseOneLegal" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExamplelegal">
                            <div class="accordion-body">
                                Strategic legal advice to navigate complex regulations and safeguard your business
                                interests.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwoLegal" aria-expanded="false"
                                aria-controls="collapseTwoLegal">
                                Company Incorporation
                            </button>
                        </h2>
                        <div id="collapseTwoLegal" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExamplelegal">
                            <div class="accordion-body">
                                Seamless and hassle-free incorporation services, ensuring your business is legally set
                                up for success.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFourLegal" aria-expanded="false"
                                aria-controls="collapseFourLegal">
                                Trademark Registration
                            </button>
                        </h2>
                        <div id="collapseFourLegal" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExamplelegal">
                            <div class="accordion-body">
                                Protect your brand identity with our end-to-end trademark services, from filing to
                                management.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFiveLegal" aria-expanded="false"
                                aria-controls="collapseFiveLegal">
                                ITR Filingand Tax Compliance
                            </button>
                        </h2>
                        <div id="collapseFiveLegal" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExamplelegal">
                            <div class="accordion-body">
                                Expert guidance and assistance with Income Tax Return (ITR) filings and compliance.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="soft">
            <div class="name">
                <h1>Software Development</h1>
                <p>Technology is at the heart of business growth. We specialize in creating user-centric web and mobile
                    applications tailored to your specific needs. Our software development services focus on delivering
                    scalable, high-performance solutions.</p>
            </div>
            <div class="accordian">
                <div class="accordion" id="accordionExampleSoft">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOneSoft" aria-expanded="true" aria-controls="collapseOneSoft">
                                Custom Software Solutions
                            </button>
                        </h2>
                        <div id="collapseOneSoft" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExampleSoft">
                            <div class="accordion-body">
                                Bespoke solutions that address unique business challenges and requirements.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwoSoft" aria-expanded="false" aria-controls="collapseTwoSoft">
                                UI/UX Design
                            </button>
                        </h2>
                        <div id="collapseTwoSoft" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExampleSoft">
                            <div class="accordion-body">
                                User interfaces and experiences that are both visually appealing and highly functional.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFourSoft" aria-expanded="false"
                                aria-controls="collapseFourSoft">
                                Web Application Development
                            </button>
                        </h2>
                        <div id="collapseFourSoft" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExampleSoft">
                            <div class="accordion-body">
                                Design and deploy robust APIs and microservices for seamless integration across your
                                systems.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFiveSoft" aria-expanded="false"
                                aria-controls="collapseFiveSoft">
                                Mobile App Development
                            </button>
                        </h2>
                        <div id="collapseFiveSoft" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExampleSoft">
                            <div class="accordion-body">
                                Cross-platform mobile apps built to enhance user experience and drive engagement.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSixSoft" aria-expanded="false" aria-controls="collapseSixSoft">
                                SEO
                            </button>
                        </h2>
                        <div id="collapseSixSoft" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExampleSoft">
                            <div class="accordion-body">
                                Optimize websites to rank higher on search engines, driving organic traﬃc and improving
                                visibility.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSevenSoft" aria-expanded="false"
                                aria-controls="collapseSevenSoft">
                                Maintenance and Support
                            </button>
                        </h2>
                        <div id="collapseSevenSoft" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExampleSoft">
                            <div class="accordion-body">
                                Ongoing technical support to ensure seamless operation of your Software.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="brand">
            <div class="name">
                <h1>Branding and Social Media Marketing</h1>
                <p>At Palqar, we understand that a strong brand is keyto standing out in today’s crowded marketplace.
                    Ourbranding and digital marketing services are designedto build and enhance your brand identity
                    whileconnecting you with your target audience.</p>
            </div>
            <div class="accordian">
                <div class="accordion" id="accordionExampleBrand">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOneBrand" aria-expanded="true"
                                aria-controls="collapseOneBrand">
                                Brand Strategy Development
                            </button>
                        </h2>
                        <div id="collapseOneBrand" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExampleBrand">
                            <div class="accordion-body">
                                Crafting unique brand voices and positioning strategies that resonate.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwoBrand" aria-expanded="false"
                                aria-controls="collapseTwoBrand">
                                Social Media
                            </button>
                        </h2>
                        <div id="collapseTwoBrand" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExampleBrand">
                            <div class="accordion-body">
                                Develop and manage social media campaigns that boost brand awareness, engagement, and
                                community building.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFourBrand" aria-expanded="false"
                                aria-controls="collapseFourBrand">
                                Content Creation
                            </button>
                        </h2>
                        <div id="collapseFourBrand" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExampleBrand">
                            <div class="accordion-body">
                                Developing compelling content that drives engagement and builds brand loyalty.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFiveBrand" aria-expanded="false"
                                aria-controls="collapseFiveBrand">
                                Social Media Campaigns
                            </button>
                        </h2>
                        <div id="collapseFiveBrand" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExampleBrand">
                            <div class="accordion-body">
                                Creating impactful campaigns across platforms like Instagram, Facebook, LinkedIn, and
                                more.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSixBrand" aria-expanded="false"
                                aria-controls="collapseSixBrand">
                                Digital Advertising
                            </button>
                        </h2>
                        <div id="collapseSixBrand" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExampleBrand">
                            <div class="accordion-body">
                                Targeted ad campaigns designed for maximum ROI.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSevenBrand" aria-expanded="false"
                                aria-controls="collapseSevenBrand">
                                Analytics and Reporting
                            </button>
                        </h2>
                        <div id="collapseSevenBrand" class="accordion-collapse collapse"
                            data-bs-parent="#accordionExampleBrand">
                            <div class="accordion-body">
                                Detailed insights to track performance and refine strategies.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>